[submodule "components/esp_ws28xx_cxx"]
	path = components/esp_ws28xx_cxx
	url = https://github.com/okhsunrog/esp_ws28xx_cxx.git
[submodule "components/FastLED_idf"]
	path = components/FastLED_idf
	url = https://github.com/okhsunrog/FastLED_idf.git
